
<script>
    var createEquityRow = function(name, equity_start, equity_current, id) 
    {
      var table = document.getElementById(id);
      var row = table.insertRow();
      var cell1 = row.insertCell(0).innerHTML = name;
      
      var percentage = 0;
      
      if(equity_start > 0)
        percentage = ((equity_current - equity_start) / equity_start) * 100;
      
      row.insertCell(1).innerHTML = "$" + equity_start.toLocaleString();
      row.insertCell(2).innerHTML = "$" + (equity_current - equity_start).toLocaleString();
      row.insertCell(3).innerHTML = percentage.toFixed(1) + "%";                         
    };
</script>

<body>


<h1>Colewood Capital</h1>

{% for a in accounts %}
  <h2>
  {% if a.acct_nickname %}
      {{a.acct_nickname}}
  {% else %}
      {{a.acct_name}}
  {% endif %}
  
   (#{{a.acct_num}})
  </h2>
  
  <h3>Equity: <span style="padding-left:3em">$ {{a.equity_now}}</span></h3>

  <table style="width:20%" id="{{a.acct_num}}">
    <thead>
      <tr>
        <th align="left"></th>
        <th align="left">Start</th>
        <th align="left">Profit</th>
        <th align="left">Return</th>
      </tr>
    </thead>
    <tbody>
      <script>
          createEquityRow("Daily", {{a.equity_at_day_start}}, {{a.equity_now}}, {{a.acct_num}});
      </script>
      <script>
          createEquityRow("Weekly", {{a.equity_at_week_start}}, {{a.equity_now}}, {{a.acct_num}});
      </script>
      <script>
          createEquityRow("Monthly", {{a.equity_at_month_start}}, {{a.equity_now}}, {{a.acct_num}});
      </script>
      <script>
          createEquityRow("All Time", {{a.equity_at_start}}, {{a.equity_now}}, {{a.acct_num}});
      </script>
    </tbody>
  </table>
  
  <p>Tracking since: {{a.start_date}} GMT</p>
  
{% endfor %}
