{% load static %}
<head>
<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highstock.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data.js' %}"></script>
</head>

<script>
	$(function () {

    var ohlc = {{candle}};
    var volume = {{lots}};
   
    // Create the chart
    $('#container').highcharts('StockChart', {
			
     rangeSelector: {
				buttons: [{
 
					type: 'minute',
					count: 15,
					text: 'M15'
				},{
					type: 'hour',
					count: 1,
					text: 'H1'
				},{
					type: 'hour',
					count: 4,
					text: 'H4'
				},{
					type: 'hour',
					count: 12,
					text: 'H12'
				},{    
					type: 'day',
					count: 1,
					text: 'D1'
				}, {
					type: 'week',
					count: 1,
					text: 'W1'
				}, {
					type: 'all',
					text: 'ALL'
				}],
        
     selected: 4
     },
    
    title: {
      text: '{% if acct.acct_nickname %}{{acct.acct_nickname}}{% else %}{{acct.acct_name}}{% endif %}'
    },

    yAxis: [{
 
    title: {
      text: 'Equity'
    },
    height: '70%',
    }, {
    title: {
    text: 'Lots'
    },
    top: '72%',
    height: '25%',
    offset: 15,
    lineWidth: 2
}],

   credits: {
     text: 'Colewood Capital'
   },

   series: [{
     type: 'candlestick',
     name: 'Equity',
     data: ohlc,
     dataGrouping: {
        approximation: "ohlc"
       }
     }, 
     {
     type: 'area',
     name: 'Lots',
     data: volume,
     yAxis: 1,
     dataGrouping: {
       approximation: "average"
       } 
     }]
  });
});

</script>

<body>
	<div id="container" style="height: 100%; margin: 0 auto"></div>
</body>
